* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #0f9334;
}

/* Navbar Start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #105b25;
  height: 70px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
  list-style: none;
  font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  opacity: 0.5;
}

nav .logo {
  font-size: 50px;
  color: #13ee5d;
  margin-left: 50px;
}

/* Navbar End */

/* Hamburger Start */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  top: 3px;
  left: -20px;
  width: 50px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
  z-index: 3;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg);
  margin-top: 5px;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Hamburger End */

/* Landing Pages Start */

.jumbotron {
  background-color: #105b25;
  height: 100vh;
  padding-top: 50px;
}

.jumbotron h1 {
  color: white;
  padding: 100px 0 10px 50px;
  font-size: 60px;
}

.jumbotron img {
  float: right;
  height: 500px;
  width: 500px;
  cursor: pointer;
}

.jumbotron h2 {
  font-size: 65px;
  margin-top: 80px;
  margin-left: 200px;
  color: #13ee5d;
}

/* Landing Pages End */

/* Article 1 Start */
.main-article {
  width: 60%;
}

.main-article h1 {
  font-size: 50px;
  padding-top: 50px;
  margin-left: 50px;
  color: white;
}

.main-article span {
  color: #13ee5d;
}

.main-article p {
  color: white;
  margin-left: 50px;
  text-align: justify;
  font-size: 30px;
}

/* Article 1 End */

/* Article 2 Start */
.second-article {
  padding: 50px 30px 0px 50px;
}

.second-article h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

.second-article .active {
  color: #13ee5d;
}

.second-article h2 {
  font-size: 35px;
  margin-top: 50px;
  color: white;
}

.second-article p {
  color: white;
  font-size: 20px;
  text-align: justify;
  padding-bottom: 50px;
}

.second-article img {
  padding-top: 50px;
  width: 500px;
  height: 250px;
}

/* Article 2 End */

/* Article 3 Start */
.third-article {
  padding: 50px 30px 0px 50px;
  background-color: #105b25;
}

.third-article h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

.third-article .active {
  color: #13ee5d;
}

.third-article h2 {
  font-size: 35px;
  margin-top: 50px;
  color: white;
}

.third-article p {
  color: white;
  font-size: 20px;
  text-align: justify;
  margin: 15px 0px 15px 0px;
}

.third-article img {
  width: 500px;
  height: 250px;
}

/* Article 3 End */

/* Aside Start */
aside {
  float: right;
  margin-top: 60px;
  margin-right: 50px;
}

aside img {
  width: 300px;
  height: 250px;
}

aside:hover {
  transform: scale(1.1);
  transition: 1s;
}

aside h1 {
  text-align: center;
  color: white;
  text-decoration: wavy;
}

aside .card-bg {
  margin-top: -5px;
  background-color: #181818;
}

aside .card {
  border-radius: 5px;
  border: 2px solid #105b25;
}

/* Aside End */

/* Footer Start */
footer {
  height: 50px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: #a8ff08;
}

/* Footer End */

/* Media Query Start */
@media screen and (max-width: 768px) {
  .main-article {
    width: 100%;
    margin: 0px;
  }
  .main-article p {
    color: white;
    text-align: justify;
    font-size: 20px;
  }
  .third-article img {
    width: 350px;
    height: 250px;
  }
  .second-article img {
    padding-top: 50px;
    width: 500px;
    height: 350px;
  }
  .main-article h1 {
    font-size: 20px;
    padding-top: 50px;
    margin-left: 50px;
    color: white;
  }

  .main-article {
    width: 100%;
    margin: 0px;
  }

  .main-article p {
    color: white;
    text-align: justify;
    font-size: 35px;
    margin-right: 50px;
  }

  .main-article h1 {
    font-size: 50px;
    padding-top: 50px;
    margin-left: 50px;
    color: white;
  }

  .jumbotron {
    height: 80vh;
  }

  .jumbotron img {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    margin-left: 150px;
    float: none;
    cursor: pointer;
  }

  .jumbotron h2 {
    font-size: 85px;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    text-align: center;
    color: #13ee5d;
  }

  .jumbotron h1 {
    color: white;
    padding: 0px;
    text-align: center;
    font-size: 70px;
  }

  aside {
    width: 100%;
    margin: 0;
    float: none;
  }

  aside img {
    width: 100%;
    height: 100%;
  }
}

/* Media Query End */

/* Media Query Start */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    margin-right: 10px;
  }
  nav ul {
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: space-evenly;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #13ee5d;
    z-index: 3;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.show {
    opacity: 1;
    transform: translateY(0);
  }

  nav .logo {
    font-size: 25px;
    color: #13ee5d;
    margin-left: 50px;
  }

  .jumbotron img {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    margin-left: 50px;
    float: none;
    cursor: pointer;
  }

  .jumbotron h2 {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #13ee5d;
  }

  .jumbotron h1 {
    color: white;
    padding: 0px;
    text-align: center;
    font-size: 50px;
  }

  .jumbotron img {
    margin-top: -25px;
    height: 400px;
    width: 400px;
    margin-left: 75px;
    float: none;
    cursor: pointer;
  }

  .third-article p {
    color: white;
    font-size: 12px;
    text-align: justify;
    margin: 15px 0px 15px 0px;
  }

  .second-article img {
    padding-top: 50px;
    width: 300px;
    height: 250px;
  }

  .third-article img {
    width: 250px;
    height: 150px;
  }

  .second-article h1 {
    color: white;
    text-align: center;
    font-size: 45px;
  }

  .main-article p {
    color: white;
    text-align: justify;
    font-size: 15px;
    margin-right: 50px;
  }

  .main-article h1 {
    font-size: 35px;
    padding-top: 50px;
    margin-left: 50px;
    color: white;
  }
}

/* Media Query End */

/* Media Query Start */
@media screen and (max-width: 376px) {
  .menu-toggle {
    display: flex;
    margin-right: 10px;
  }
  nav ul {
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: space-evenly;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #13ee5d;
    z-index: 3;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.show {
    opacity: 1;
    transform: translateY(0);
  }

  nav .logo {
    font-size: 25px;
    color: #13ee5d;
    margin-left: 50px;
  }

  .third-article {
    padding: 50px 30px 0px 30px;
    background-color: #105b25;
  }

  .third-article img {
    width: 300px;
    height: 150px;
  }

  .second-article h1 {
    color: white;
    text-align: center;
    font-size: 40px;
  }

  .second-article img {
    padding-top: 50px;
    width: 300px;
    height: 200px;
  }

  .second-article h2 {
    font-size: 25px;
    margin-top: 50px;
    color: white;
  }

  .main-article h1 {
    font-size: 20px;
    padding-top: 50px;
    margin-left: 50px;
    color: white;
  }

  .main-article {
    width: 100%;
    margin: 0px;
  }

  .main-article p {
    color: white;
    text-align: justify;
    font-size: 15px;
    margin-right: 50px;
  }

  .main-article h1 {
    font-size: 30px;
    padding-top: 50px;
    margin-left: 50px;
    color: white;
  }

  .jumbotron {
    height: 80vh;
  }

  .jumbotron img {
    margin-top: 50px;
    height: 300px;
    width: 300px;
    margin-left: 50px;
    float: left;
    cursor: pointer;
  }

  .jumbotron h2 {
    font-size: 45px;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    text-align: center;
    color: #13ee5d;
  }

  .jumbotron h1 {
    color: white;
    padding: 0px;
    text-align: center;
    font-size: 40px;
    margin-top: 350px;
  }

  aside {
    width: 80%;
    float: none;
    margin-left: 30px;
  }

  aside img {
    width: 300px;
    height: 250px;
  }
}

/* Media Query End */
